.comment{
    border:2px solid red;
    background-color: silver;
    font-size: large;
    font-stretch: extra-expanded;
}


#form{
    border:3px solid blue;
    border-radius: 5px;
    /*tworzę zaokrąglone rogi*/
}


p.intro {
    font-weight: bold;
}


.intro.first {font-weight: bold;}
div.intro {color: aqua;}

.head,.content {color: blueviolet; font-size: x-large;
}



div p {border:10px solid violet}
section > div > p {font-style: italic;}

/*Selektor rodzeństwa*/
.curr ~ li {text-decoration: underline; color: red;}

/*Sąsiedni selektor rodzeństwa*/
.curr + li {font-size: 200%  ;}

/*obramowanie żółte otrzyma
tylko ostatni element <article>, ponieważ
występuje on bezpośrednio za elementem
o klasie .new.*/
.new + article {border:3px solid yellow}

/*Selektor atrybutów*/
[title] {
    text-shadow: 2px 2px green;
}


a[rel="nofollow"] { background-color:red}

article:hover {box-shadow: 4px 2px 5px 0px gray;}

ul li b:hover {box-shadow: 4px 2px 10px 5px yellowgreen}

button {
    border: 1px solid grey;
    background-color: #f4f4f4;
    transition: 1s transform
}
button:active {
    transform: scale(3) rotate(360deg);
}

p:first-child {
    text-indent: 20px;
}

p:first-child {
    text-indent: 20px;
    }
p:last-child {
    word-spacing: 30px;
    }

    .shopping-list::before {
        content: 'Lista zakupów';
        font-size: 10px;
        color: #888;
        margin-left: -20px
    }
    .shopping-list::after {
        content:'Podsumowanie';
        color:cadetblue;
        font-size: x-large;
    }
    p a[href]::after{
        content: '';
        display:inline-block;
        margin: left 5px;
        border: 7px solid transparent;
        border-left-color: green;
        vertical-align: middle;
    }

    p::before{
        content:'before';
        border:1px solid green
    }
    p::after {
        content:'after';
        border: 1px solid red;
    }
    
    